/* COMMON SCSS COMMENT TO BREAK CACHE */
@font-face { font-family: "Gotham"; font-weight: normal; src: url('//forum.typeonenation.org/uploads/jdrf/original/1X/7b08c78fe3030a3d62e72dc04806d38d1c6e8002.woff2') format('woff2') }
@font-face { font-family: "Gotham"; font-weight: 500; src: url('//forum.typeonenation.org/uploads/jdrf/original/1X/7b08c78fe3030a3d62e72dc04806d38d1c6e8002.woff2') format('woff2') }
@font-face { font-family: "Gotham"; font-weight: 700; src: url('//forum.typeonenation.org/uploads/jdrf/original/1X/47249cd9b6b59c8e70edfcb5907a5bacc44db08b.woff2') format('woff2') }
@font-face { font-family: "Gotham"; font-weight: 300; src: url('//forum.typeonenation.org/uploads/jdrf/original/1X/707781b58b62210fc4008090ffe156ae262849e2.woff2') format('woff2') }
@font-face { font-family: "Material Icons"; font-weight: normal; src: url('//forum.typeonenation.org/uploads/jdrf/original/1X/09963592e8c953cc7e14e3fb0a5b05d5042e8435.woff2') format('woff2') }
.nav-pills > li > a {
  border-color: #BDBDBD;
  color: #212121;
}
.nav-pills > li > a:hover, .nav-pills > li > a:active, .nav-pills > li > a:focus {
  color: #0073cf;
  background: none;
}

ol.category-breadcrumb {
  width: 49%;
  min-width: 0;
  margin-right: 0;
  border-color: #BDBDBD;
}
ol.category-breadcrumb li {
  white-space: nowrap;
  margin-right: 0;
  position: relative;
}
ol.category-breadcrumb li a:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-controls .category-breadcrumb li.bullet > .dropdown-header {
  width: calc(100% - 20px);
  line-height: 18px;
  margin-top: 3px;
}

.list-controls .category-breadcrumb a.badge-category.category-dropdown-button .d-icon-caret-right,
.list-controls .category-breadcrumb .dropdown-header.category-dropdown-button .d-icon-caret-right {
  margin-left: -4px;
}

.list-controls .category-breadcrumb li.bullet > .dropdown-header .badge-category-bg {
  width: 4px;
}

.list-controls .category-breadcrumb .dropdown-header.category-dropdown-button {
  width: 10px !important;
  position: absolute;
  top: 0;
  right: 8px;
  padding: 2px 0 2px 0 !important;
}

.list-controls .category-breadcrumb.hidden + ul {
  width: 100%;
}

.list-controls .select-box.category-notifications-button {
  margin-bottom: 8px;
  margin-left: 0px;
  float: none;
}

ol.category-breadcrumb + ul.nav {
  width: 49%;
  margin-right: 0;
  float: right;
}
ol.category-breadcrumb + ul.nav li {
  float: none;
  background: transparent;
  margin-right: 0;
}

.list-controls .nav-pills .drop {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-controls .nav-pills .drop li a {
  color: #212121;
}

#create-topic.btn {
  width: 100%;
  clear: both;
}
#create-topic.btn + .btn.edit-category {
  width: 100%;
}

#reply-control .toggle-toolbar {
  background: transparent;
  top: 0;
}

#reply-control .toggler {
  top: 0;
}

#topic-footer-buttons .btn-primary.create {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.topic-footer-main-buttons .select-box {
  min-width: 100%;
}

.badge-wrapper.bullet span.badge-category {
  font-weight: 400;
  font-size: 12px;
}

.widget-button.btn.login-button {
  margin-right: 0px;
}

#register-button.btn--primary {
  margin-right: 4px;
}
