// Forum sort
.nav-pills>li>a {
	border-color: #BDBDBD;
	color: #212121;
	&:hover,
	&:active,
	&:focus {
		color: #0073cf;
		background: none;
	}
}

// Category dropdown

ol.category-breadcrumb {
	width: 49%;
	min-width: 0;
	margin-right: 0;
	border-color: #BDBDBD;
	li {
		white-space: nowrap;
		margin-right: 0;
		position: relative;
	  	a:first-child {
	  		white-space: nowrap;
	  		overflow: hidden;
	  		text-overflow: ellipsis;
	  	}
	}
}

.list-controls .category-breadcrumb li.bullet>.dropdown-header {
	width: calc(100% - 20px);
}

.list-controls .category-breadcrumb a.badge-category.category-dropdown-button .d-icon-caret-right,
.list-controls .category-breadcrumb .dropdown-header.category-dropdown-button .d-icon-caret-right {
	margin-left: -4px;
}

.list-controls .category-breadcrumb li.bullet>.dropdown-header .badge-category-bg {
	width: 4px;
}

.list-controls .category-breadcrumb .dropdown-header.category-dropdown-button {
	width: 10px !important;
	position: absolute;
	top: 0;
	right: 8px;
	padding: 2px 0 2px 0 !important;
}

.list-controls .category-breadcrumb.hidden + ul {
	width: 100%;
}

ol.category-breadcrumb + ul.nav {
	width: 49%;
	margin-right: 0;
	float: right;
	li {
		float: none;
		background: transparent;
		margin-right: 0;
	}
}

.list-controls .nav-pills .drop {
	width: 100%;
	box-sizing: border-box;
}
.list-controls .nav-pills .drop li a {
	color: #212121;
}

#create-topic.btn {
	width: 100%;
	clear: both;
	& + .btn.edit-category {
		width: 100%;
	}
}

// Reply
#reply-control .toggle-toolbar {
  background: transparent;
  top: 0;
}
#reply-control .toggler {
	top: 0;
}

#topic-footer-buttons .btn-primary.create {
	display: block;
	width: 100%;
	margin: 10px 0;
}

.topic-footer-main-buttons .select-box {
  min-width: 100%;
}

// Topic category
.badge-wrapper.bullet span.badge-category {
	font-weight: 400;
	font-size: 12px;
}