.modal-backdrop,
.modal-backdrop.fade.in {
	opacity: .5;
}

.bootbox.modal.in {
	border-radius: 2px;
	border: 0;
}

.modal-footer {
	.btn-danger {
		float: right;
		@include button-variant($btn-primary-color, $jdrf-magenta, $jdrf-magenta);
	}

	.btn.null {
		float: right;
		margin-right: 10px;
		background: transparent;
		&:active {
			box-shadow: none;
		}
		&:hover {
			color: $jdrf-blue;
		}
	}
}

.submit-panel .cancel {
	text-transform: uppercase;
	vertical-align: middle;
	color: $grey-7;
}