#topic-footer-buttons .btn,
.nav-pills>li>a {
	@extend .btn;
	@extend .btn-primary-outline;
}

.nav-pills>li.active>a,
.nav-pills>li>a.active {
	@extend .btn-primary-outline.active;
}

.btn-primary.create,
#topic-footer-buttons .btn-primary.create,
#create-topic.btn {
	@include button-variant($btn-primary-color, $jdrf-purple, $jdrf-purple);
}

.list-controls .category-breadcrumb li.bar>.badge-category {
	background: transparent !important;
	padding: 0.55rem;
	font-size: 0.875rem;
	line-height: 1;
}

.list-controls .category-breadcrumb li.bullet>.dropdown-header {
	background-color: transparent;
	text-transform: capitalize;
	width: calc(100% - 50px);
}

.list-controls .category-breadcrumb .dropdown-header.category-dropdown-button {
	width: 20px !important;
}

ol.category-breadcrumb {
	min-height: 33px;
	min-width: 250px;
	border: 1px solid $grey-6;
	border-radius: 2px;
	li {
		float: none;
	}
}

.has-drop.bar {
	border: 1px solid $grey-6;
	border-radius: 2px;
	min-width: 137px;
}

.list-controls .category-dropdown-menu {
	width: 250px;
	box-sizing: border-box;
	padding: 8px 15px;
	border-color: $grey-6;
	border: 0;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.28);
	margin-top: -33px;
	margin-left: -1px;
	width: 252px;
}

.list-controls .category-dropdown-menu a.badge-category {
	text-transform: capitalize;
	font-weight: 500;
	color: $jdrf-blue;
}

.list-controls .category-breadcrumb a.badge-category.category-dropdown-button .fa-caret-right {
	margin-left: 0;
}

.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
	width: 4px;
	height: 14px;
	vertical-align: middle;
}

.list-controls .category-dropdown-menu .badge-wrapper.bullet {
	padding: 6px 5px;
}

.badge-wrapper.bullet span.badge-category {
	vertical-align: middle;
	line-height: 1;
	font-size: 13px;
	font-weight: 500;
}