#topic-footer-buttons .btn,
.nav-pills>li>a {
	@extend .btn;
	@extend .btn-primary-outline;
}

.nav-pills>li.active>a,
.nav-pills>li>a.active {
	@extend .btn-primary-outline.active;
}

.btn-primary.create,
#topic-footer-buttons .btn-primary.create,
#create-topic.btn {
	@include button-variant($btn-primary-color, $jdrf-purple, $jdrf-purple);
}

.list-controls .category-breadcrumb li.bar>.badge-category {
	background: transparent !important;
	padding: 0.75rem;
	font-size: 0.875rem;
	line-height: 1;
}

.has-drop.bar {
	border: 1px solid $grey-6;
	border-radius: 2px;
}

.list-controls .category-dropdown-menu {
	width: 137px;
	box-sizing: border-box;
	padding: 0 6px;
	border-color: $grey-6;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.28);
}