.category-notifications-button .dropdown-header .btn.no-text.btn-icon {
	height: 35px;
	vertical-align: middle;
	margin-bottom: -5px;
	background: transparent;
	border-color: #BDBDBD;
	.d-icon+.d-icon {
		color: #7a7a7a;
	}
	button {
	    i.fa-circle-o::after {
	      content:"Normal";
	      font-family: "Gotham", sans-serif;
	      text-transform: capitalize;
	      color: #212121;
	      font-size: 14px;
	      line-height: 18px;
	      margin-left: 10px;
	      margin-right: 10px;
	  	}
	  	i.fa-exclamation-circle::after {
	      content:"Watching";
	      font-family: "Gotham", sans-serif;
	      text-transform: capitalize;
	      color: #212121;
	      font-size: 14px;
	      line-height: 18px;
	      margin-left: 10px;
	      margin-right: 10px;
	 	 }
	  	i.fa-circle.tracking::after {
	      content:"Tracking";
	      font-family: "Gotham", sans-serif;
	      text-transform: capitalize;
	      color: #212121;
	      font-size: 14px;
	      line-height: 18px;
	      margin-left: 10px;
	      margin-right: 10px;
	  	}
	  	i.fa-dot-circle-o::after {
	      content:"Watching First Post";
	      font-family: "Gotham", sans-serif;
	      text-transform: capitalize;
	      color: #212121;
	      font-size: 14px;
	      line-height: 18px;
	      margin-left: 10px;
	      margin-right: 10px;
	  }
	  i.fa-times-circle::after {
	      content:"Muted";
	      font-family: "Gotham", sans-serif;
	      text-transform: capitalize;
	      color: #212121;
	      font-size: 14px;
	      line-height: 18px;
	      margin-left: 10px;
	      margin-right: 10px;
	  }
	}
}