.category-notifications-button .dropdown-header .btn.no-text.btn-icon {
	height: 35px;
	vertical-align: middle;
	margin-bottom: -5px;
	background: transparent;
	border-color: $jdrf-blue;
	.d-icon+.d-icon {
		color: #7a7a7a;
	}
}