#suggested-topics {
	background: $grey-1;
	position: relative;
	&:before {
		content: "";
		display: block;
		background: $grey-1;
		width: 100vw;
		position: absolute;
		top: 0;
		left: calc(-50vw + 50%);
		height: 100%;
		z-index: -1;
	}
}