@import 'variables';
@import 'mixins';

// Core variables and mixins overwrites
@import 'mixins/border-radius';
@import 'mixins/buttons';
@import 'mixins/elevations';

@import 'buttons';
@import 'nav';

body {
	font-family: $font-family-base;
}

.badge-wrapper,
.topic-list th {
	font-weight: 500;
}

.modal-backdrop,
.modal-backdrop.fade.in {
	opacity: .5;
}

.bootbox.modal.in {
	border-radius: 2px;
	border: 0;
}

.modal-footer {
	.btn-danger {
		float: right;
		@include button-variant($btn-primary-color, $jdrf-magenta, $jdrf-magenta);
	}

	.btn.null {
		float: right;
		margin-right: 10px;
		background: transparent;
		&:active {
			box-shadow: none;
		}
		&:hover {
			color: $jdrf-blue;
		}
	}
}


.composer-popup {
	background-color: $jdrf-blue;
	color: #fff;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	a.close {
		float: none;
		position: absolute;
		bottom: 30px;
		font-weight: 500;
		color: #fff;
		opacity: 1;
		text-decoration: none;
		&:after {
			content: "GOT IT";
		}
		i {
			display: none;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			color: $jdrf-dark-blue;
		}
	}
}

.submit-panel .cancel {
	text-transform: uppercase;
	vertical-align: middle;
	color: $grey-7;
}


.deleted .topic-body {
	background-color: $grey-3;
}