@import 'variables';
@import 'mixins';

// Core variables and mixins overwrites
@import 'mixins/border-radius';
@import 'mixins/buttons';
@import 'mixins/elevations';

@import 'buttons';
@import 'forms';
@import 'nav';
@import 'footer';
@import 'coachmark';
@import 'suggested-topics';
@import 'after-header';
@import 'icons-override';
@import 'modal-override';
@import 'badges';
@import 'topic';
@import 'notification-dropdown';

body {
	font-family: $font-family-base;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#main-outlet {
  padding-top: 72px;
}

.d-header {
	box-shadow: none;
	height: 69px;
	@include elevation-1;
}
.d-header .contents {
	margin: 13px 0;
}

.badge-wrapper,
.topic-list th {
	font-weight: 500;
}

.admin-interface {
	.full-width > .nav-pills {
		margin-top: 30px;
	}
}


.topic-list button.bulk-select {
	background-color: transparent !important;
}

.topic-list th {
	color: #9E9E9E;
}

.topic-list th, .topic-list td {
	padding: 15px 5px;
	height: 56px;
	box-sizing: border-box;
}

.topic-list {
	.posters {
		padding: 15px 2px;
	}
}

.btn-flat:focus, .btn-flat.focus, .btn-flat:active, .btn-flat.active, .open>.btn-flat.dropdown-toggle {
	box-shadow: none;
}

// Hide search and hamburger
a#toggle-hamburger-menu {
	display: none;
}

.staff a#toggle-hamburger-menu {
	display: block;
}

// About me editor
.d-editor-button-bar button {
	color: #999;
	border-color: #999;
	box-shadow: none;
}

.d-editor-button-bar {
	height: 27px;
}

ol.category-breadcrumb {
  max-width: 260px;
  width: 100%;
}